*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

img{
    max-width: 100%;
}
ul,li{
    list-style: none;
}
a,span{
    display: inline-block;
    text-decoration: none;
}
.textCenter{
    text-align: center;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding: 12px 16px;
    border-radius: 4px;
    color: #fff;
    background-color: #30B868;
    border: 1px solid #30B868;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
    font-size: 16px;
}
.btn:hover{
    color: #30B868;
    border-color: #30B868;
    background-color: transparent;
}



/* header section */

.headerSection{
    background-color: #fff;
    padding: 16px 0;
}
.headerSection .menu ul{
    display: flex;
    gap: 32px;
}
.headerSection .menu ul li a{
    color: #000;
    transition: .3s;
}
.headerSection .menu ul li a:hover{
    color: #30B868;
}


/* banner section */

.bannerSection{
    padding: 200px;
    background: url(./images/hero-bg.png) no-repeat center center;
    background-size: cover;
}
#circle-style{
    width: 8px;
    height: 8px;
    background-color: #30B868;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    top:-1px;
}
#circle-style::before {
	content: "";
	width: 18px;
	height: 18px;
	position: absolute;
	top: -5px;
	left: -5px;
	background-color: rgba(48, 184, 104, .2);
    border-radius: 50%;
    
}
.bannerSection h4{
    color: #30B868;
    background-color: #fff;
    display: inline-block;
    padding: 8px 12px 8px 16px;
    border-radius: 30px;
    font-weight: 500;
    margin-bottom:10px;
}
.bannerSection h1{
    font-size: 72px;
    color: #fff;
}
.bannerSection h2{
    font-size: 72px;
    color: #30B868;
    margin-bottom: 10px;
}
.bannerSection p{
    color: #fff;
    line-height: 32px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
}
.bannerSection .buttons{
    justify-content: center;
    gap: 20px;

}
.bannerSection .buttons .btn2{
    border-color: #fff;
    background-color: transparent;
    transition: .4s;
}
.bannerSection .buttons .btn2:hover{
    border-color: #30B868;
}




/* card section */

.cardSection{
    background-color: #fbfbfb;
    padding: 50px 0;
}
.fixedText h1{
    font-size: 48px;
    margin-bottom: 10px;
}
.fixedText p{
    color: #627382;
    margin-bottom: 30px;
    line-height: 24px;
}
.cardSection .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}
.cardSection .card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 60px 24px 24px 24px;
    margin-top: 20px;
    transition: .4s;
}
.cardSection .card:hover{
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.cardSection .card .image{
     width: 60px;
    height: 60px;
    background-color: #f95555;
    color: #fff;
     display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}
.cardSection .card h2{
    font-size: 24px;
    margin-bottom: 15px;
}
.cardSection .card p{
    color: #627382;
}

/* solution Section */

.solutionSection{
    background-color: #fff;
    padding: 100px 0;
}
.solutionSection .d-flex{
    justify-content: center;
    gap: 60px;
}
.solutionSection h4{
    font-size: 16px;
    color: #30B868;
    font-weight: 400;
    margin-bottom: 10px;
}
.solutionSection ul li span{
    color: #fff;
    background-color: #30B868;
    border-radius: 50%;
    font-size: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 19px;
    margin-right: 10px;

}
.solutionSection ul li{
    margin-bottom: 10px;
}


/* thinkmore Section */

.thinkmoreSection{
    background-color: #fff;
    padding-bottom: 100px;
}
.thinkmoreSection .container{
    background-color: #f7f6f2;
    border-radius: 12px;
    padding: 80px;
}
.thinkmoreSection .btn{
    margin-bottom: 20px;
}
.thinkmoreSection p{
    color: #627382;
}

/* footer Section */

.footerSection{
    background-color: #001931;
    color: #fff;
}


/* footer top section */

.footerTopSection .container{
    padding: 100px 0;
    border-bottom: 1px solid #627382;
}
.footerTopSection p{
    font-size: 20px;
}
.footerTopSection ul{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.footerTopSection ul li a{
    color: #001931;
    background-color: #fff;
    padding: 2px;
    font-size: 14px;
    border-radius: 50%;
    transition: .4s;
}
.footerTopSection ul li a:hover{
    background-color: transparent;
    color: #fff;
}

/* footerBottom Section */

.footerBottomSection{
    padding: 30px 0;
}